<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
Pig Latinizer!
    <form  action="/piglatinize" method="post">
      <label> Enter your phrase:
      <input type="text" name="user_phrase" >
      <input type="submit" name="Submit" >
      </label>
    </form>

  </body>
</html>
